<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Question</title>
    <link rel="stylesheet" href="/css/create.css">
</head>
<body>
    <h1>Please create a question</h1> //formcontains a text or input area 
    type in answer3other wrong answers
   <div class="app">
        <h1>Create quiz</h1>
        <div class="quiz">
            <h2 id="question">Question 1</h2>
            <div class="answer_btn" id="answer">
                <button class="btn">answer 1</button>
                <button class="btn">answer 2</button>
                <button class="btn">answer 3</button>
                <button class="btn">answer 4</button>
            </div>
            

        </div>

   </div>

</body>
</html>