<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div class="main-wrapper">

    <div class="form-wrapper">
      <h2 id="question"></h2>
      <input type="radio" name="option">
      <label id="option1"></label>
      <input type="radio" name="option">
      <label id="option2"></label>
      <input type="radio" name="option">
      <label id="option3"></label>
      <input type="radio" name="option">
      <label id="option4"></label>
      <button class="submit" type="submit">Submit</button>
    </div>
  </div>
  <script src="quiz-form.js"></script>
</body>

</html>